<app-header></app-header>
<router-outlet></router-outlet>

<!-- <button mat-raised-button color="primary">Click</button>
<mat-divider></mat-divider>
<button mat-stroked-button color="primary">Click</button>
<mat-divider></mat-divider>
<button mat-icon-button color="warn">tesdt</button>
<mat-divider></mat-divider>
<button mat-mini-fab color="warn">tesdt</button>
<mat-divider></mat-divider>
<mat-form-field appearance="outline">
  <mat-label>Title</mat-label>
  <input matInput />
</mat-form-field> -->